{% extends "templates/web.html" %}

{% block title %}{{ _("Payment History") }}{% endblock %} 
{% block header %}
    <!-- override -->
    <span>Payment History</span>
{% endblock %} 

{% block page_content %}
<style>
    
</style>

<div class="text-small" id="my-students">
    <div class="list-group mt-4" style="max-width: 500px;">
    {% for student in students -%}
        <div class="mb-2">
            <a href="#" data-name="{{ student.name }}" data-gender="{{ student.gender }}" data-student-name="{{ student.student_name }}" 
                class="fees-link list-group-item list-group-item-action" style="width: 100% !important;">
                {% if student.gender == 'Female' %}
                    <img src="/assets/schoolext/img/icons8-school-girl-85.png" style="height: 40px; width: auto;">
                {% else %}
                    <img src="/assets/schoolext/img/icons8-school-boy-85.png" style="height: 40px; width: auto;">
                {% endif %}
                {{ student.student_name }}
            </a>
        </div>
    {%- endfor %}
    </div>
</div>
<div id="my-student-fees" style="display: none;">
    <!-- code to populate in js-->
</div>
<div id="my-student-fees-checkout" style="display: none;">
    <!-- code to populate in js-->
</div>
{% endblock %}